*{
    margin: 0;
    padding: 0;

}

@font-face{
    font-family: 'Bruno Ace';
    src: url(../fonts/BrunoAce-Regular.ttf);
}


body {
    font-family: 'Bruno Ace';
}

.container_fondo {
    background-image: radial-gradient(to right, #ffffff 0%, rgba(146, 146, 146, 0.658) 100%);
}

.producto_imagen {

    height: 400px;
    width: 400px;

}

.logo_navbar {

    height: 100px;
    width: 150px;
    
}

.logo_carrito {

    height: 50px;
    width: 50px;
    padding-top: 23px;
    padding-left: 160px;
    
}

.navbar {

    height: 100px;
    width: auto;
    background-color: black;
    display: flex;
    
   
}

.items_navbar{

    list-style-type: none;
    color: rgb(248, 244, 244);
    display: flex;
    justify-content: space-around;
   
}

.li_items{ 

    color:aliceblue;
    margin-left: 250px;
    padding-top: 40px;
    padding-left: 20px;
    
}

a {

    color: white;

}

.titulo_principal {

        padding-top: 20px;
        text-align: center;
        font-size: 60px;
        color:rgb(0, 0, 0);


}

.slogan {

    padding-top: 20px;
    text-align: center;
    color:rgb(36, 36, 36);

}

.container_home1 {

    display: flex;
    justify-content: center;
    padding-top: 70px;
    

}

.button_comprar {

        border-radius: 50px;
        background-color: rgb(255, 255, 255);
        color: black;
        height: 60px;
        width: 120px;
        
    }

.productos_home {

    padding-left: 150px;
    align-items: center;


}

.titulo_producto {
    color:rgb(17, 17, 17);
    text-align: center;



}

.container_home2 {

    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    

}



.footer{

    height: 60px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 45px;

}

.footer_texto {

    color: white;

}
