*{
    margin: 0;
    padding: 0;

}

@font-face{
    font-family: 'Bruno Ace';
    src: url(../fonts/BrunoAce-Regular.ttf);
}

body {
    font-family: 'Bruno Ace';
    background-image: linear-gradient(to right, rgb(7,8,10) 10%, black 90%);
}

.producto_imagen {
    display:flex;
    justify-content: center;
    min-height: 400px;
    min-width: 400px;
    max-height: 400px;
    max-width: 400px;
    margin: auto;
    border-radius: 10%;
}

.logo_navbar {
    height: 100px;
    width: 150px;
}

.logo_carrito {
    height: 50px;
    width: 50px;
    padding-left: auto;
    margin-left: auto;
} 
nav {
    position: fixed;
    top: 0%;
    width: 100%;
    margin-left: auto;
}

.navbar_home {
    display: flex;
    color:aliceblue;
    margin-left: 250px;
    padding-top: 40px;
    padding-left: 20px;
    justify-content: baseline;
}

.navbar_productos {
    display: flex;
    color:aliceblue;
    margin-left: 250px;
    padding-top: 40px;
    padding-left: 20px;
    justify-content: baseline;
}

.navbar_contacto {
    display: flex;
    color:aliceblue;
    margin-left: 250px;
    padding-top: 40px;
    padding-left: 20px;
    justify-content: baseline;
}
.navbar_carrito {
    display: flex;
    color:aliceblue;
    margin-left: 250px;
    padding-top: 25px;
    padding-left: 20px;
    justify-content: baseline;
}

.navbar {
    height: 100px;
    background-color: black;
    display: flex;
}

.items_navbar{
    list-style-type: none;
    color: rgb(248, 244, 244);
    display: flex;
    justify-content: space-around;
    margin-right:0px;
}

a {
    text-decoration-line: none;
    color: white;
}

.titulo_principal {
    padding-top: 20px;
    margin-top: 5%;
    text-align: center;
    font-size: 60px;
    color:rgb(255, 255, 255);
}

.slogan {
    padding-top: 25px;
    text-align: center;
    color:rgb(255, 255, 255);
}
.container_principal{
    display:flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    margin-bottom: 5%;
}

.container_home1 {
    display:flex;
    justify-content:center;
    padding-top: 50px; 
    flex-direction: row;
}
.container_home2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: row;
}

.titulo_producto {
        display: flex;
        text-align: center;
        justify-content: center;
        color:#ffffff;
        padding-bottom: 20px;
        margin: auto;
        padding-top:40px;
}
.tit_desc_prod {
    color:white;
    text-align: center;
    padding-top:10px;
}
.description_producto {
    color:white;
    padding-top: 3%;
    text-align: center;
    padding-bottom: 5%;
    min-height: 55px;
}

.precio_producto{
    margin: auto;
    color: white;
    display:flex;
    justify-content: center;
}

.button_comprar {
    margin: auto;
    font-family:inherit;
    font-size: 1rem;
    background-color: #979696;
    color: white;
    border: none;
    width: 150px;
    height: auto;
    padding: 10px 10px;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;   
    }

.productos_home {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 500px;
    max-height: 600px;
}

.titulo_producto {
    text-align: center;
    text-decoration-line: underline;
}

/*-----------FOOTER----------------------------------*/
.footer{
    height: 60px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    text-align: center;
}
.footer_elements {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footer_signing{
    display: flex;
    justify-content: baseline;
    color: white;
    font-weight: 600;
    padding-right:9%;
}
.footer_texto {
    display: flex;
    justify-content: baseline;
    color: white;
    font-weight: 600;
}
