@font-face{
    font-family: 'Norwester';
    src: url(../fonts/font-norwester/webfonts/norwester.ttf);
}

*{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Norwester', sans-serif;
}

.container_fondo {
    background-image: radial-gradient(to right, #ffffff 0%, rgba(146, 146, 146, 0.658) 100%);
}

.producto_imagen {

    height: 400px;
    width: 400px;

}

.logo_navbar {

    height: 100px;
    width: 150px;
    
}

.logo_carrito {

    height: 50px;
    width: 50px;
    padding-left: 250px;
    padding-top: 23px;

}

.navbar {

    height: 100px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
   
}

.items_navbar{

    list-style-type: none;
    color: white;
    display: flex;
    justify-content: flex-end;

   
}

.li_items{ 

    margin-left: 250px;
    padding-top: 40px;
    padding-left: 20px;
    
}

.titulo_principal {


    padding-top: 20px;
    text-align: center;


}

.slogan {

    padding-top: 20px;
    text-align: center;

}

.container_home1 {

    display: flex;
    justify-content: center;
    padding-top: 70px;
    

}

.button_comprar {

        margin-top: 20px;
        border-radius: 50px;
        background-color: bisque;
        color: black;
        height: 30px;
        width: 100px;
        margin-left: 150px;
        
    }

.productos_home {

    padding-left: 150px;
    align-items: center;


}

.titulo_producto {

    text-align: center;



}

.container_home2 {

    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    

}



.footer{

    height: 60px;
    width: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 45px;

}

.footer_texto {

    color: white;

}
